NODE_ENV=development
#development
#production

WEB_HOST=0.0.0.0
WEB_PORT=8080

DATABASE_URL=postgresql://username:password@localhost:5432/databaseName?schema=public

SESSION_TOKEN_LENGTH=96
SESSION_TOKEN_SHA256_KEY=secret

GOOGLE_CLIENT_ID=example.com
GOOGLE_PROJECT_ID=example-0
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLIENT_SECRET=secret
GOOGLE_REDIRECT_URIS=http://example.com/login
GOOGLE_JAVASCRIPT_ORIGINS=http://example.com